.places-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/bg.png");
  background-position: center center;
  background-size: cover;

  @media (320px <= width <= 480px) and (min-height: 741px) {
    height: 90dvh;
  }

  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

    h2 {
      font-size: 3.2rem;
      font-weight: bold;
      font-family: "Ephesis", cursive;
    }

    .flor-title {
      width: 60%;
      margin-top: -5.5rem;
      margin-bottom: -4rem;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: bold;
      font-family: "Inter", sans-serif;
    }

    h4 {
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-sub);
      font-family: "Inter", sans-serif;
    }

    p {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "Inter", sans-serif;
    }
  }

  a {
    border-radius: 30px;
    padding: 0.75rem 2rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--bg);
    font-family: "Inter", sans-serif;
    background: linear-gradient(-180deg, #fb9dab 0%, #bb5e6c 100%);
  }
}
