.parents-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/bg3.png");
  background-position: center center;
  background-size: cover;
  position: relative;

  @media (320px <= width <= 480px) and (min-height: 741px) {
    height: 70dvh;
  }

  h2 {
    width: 70%;
    text-align: center;
    line-height: 2.5rem;
    font-size: 3.2rem;
    font-weight: bold;
    font-family: "Ephesis", cursive;
  }

  .parents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;

    h3 {
      margin: 1rem;
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
    }

    .flor-title {
      width: 60%;
      margin-top: -5.5rem;
      margin-bottom: -4rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
      font-family: "Inter", sans-serif;
      margin: 0.3rem 0;
    }
  }
}
